@model PaginationResponse<Category> 
@{
    ViewData["Title"] = "Categories";
}
<h1>Categories</h1>
<h5>The categories allow us to indicate how we spend our money, as well as where our income comes from.</h5>
<h3>Categories Amount: @Model.TotalRecords - Pages Amount: @Model.TotalPagesAmount </h3>
<a asp-action="Create" class="btn btn-primary mb-3">Create new</a>
<partial name="_Pagination" />
<table class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Names</th>
            <th>Types</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Elements)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@category.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
                <td>
                    @category.Name
                </td>
                <td>
                    @(Enum.GetName(typeof(OperationType), category.OperationTypeId))
                </td>
            </tr>

        }
    </tbody>
</table>
