@model DetailedTransactionReport
@{
    var amountSummary = new AmountsSummaryViewModel
    {
        Income = Model.DepositsBalance,
        Expenses = Model.WithdrawalsBalance,
        Total = Model.Total
    };
}
<h1>Movements @ViewBag.Account</h1>

<partial name="_MonthNavigator" model="@Model.StartDate"/>
<partial name="_AmountsSummary" model="@amountSummary" />

@if (Model.GroupedTransactions.Count() == 0)
{
    <h5>There is no data to show</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var groupedTransaction in Model.GroupedTransactions)
            {
                <tr style="background-color: lightblue; font-size: 26px">
                    <td colspan="3">
                        @groupedTransaction.TransactionDate.Day
                        <span class=" badge bg-secondary">@groupedTransaction.TransactionDate.ToString("ddd")</span>
                    </td>
                    <td class="active-balance">
                        @groupedTransaction.DepositsBalance.ToString("N")
                    </td>
                    <td class="passive-balance">
                        @groupedTransaction.WithdrawalsBalance.ToString("N")
                    </td>
                </tr>
                @foreach (var transaction in groupedTransaction.Transactions)
                {
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="transactions"
                               asp-action="Edit"
                               asp-route-id="@transaction.Id"
                               asp-route-returningUrl="@ViewBag.returningUrl">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td> @transaction.Category</td>
                        <td> @transaction.Account</td>
                        <td class="active-balance">
                            @(transaction.OperationTypeId == OperationType.Income ?
                                            transaction.Amount.ToString("N") : null)
                                                                                </td>
                                                                                <td class="passive-balance">
                            @(transaction.OperationTypeId == OperationType.Expense ?
                                            transaction.Amount.ToString("N") : null)
            </td>
        </tr>
                }
            }
        </tbody>
    </table>
}