@model DetailedTransactionReport
<h1>Movements @ViewBag.Account</h1>
<h4>
    <a asp-route-month="@ViewBag.previousMonth" asp-route-year="@ViewBag.previousYear"
       class="btn btn-secondary">
        <i class="bi-chevron-left"></i>
    </a>
    @Model.StartDate.ToString("MMM") - @Model.StartDate.Year

    <a asp-route-month="@ViewBag.followingMonth" asp-route-year="@ViewBag.followingYear"
       class="btn btn-secondary">
        <i class="bi-chevron-right"></i>
    </a>
</h4>

<div class="total-container mb-3">
    <div>
        <div>
            <strong>Deposit</strong>
        </div>
        <div class="active-balance">
            @Model.DepositsBalance.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Withdrawal</strong>
        </div>
        <div class="passive-balance">
            @Model.WithdrawalsBalance.ToString("N")
        </div>
    </div>
    <div>
        <div>
            <strong>Total</strong>
        </div>
        <div>
            @Model.Total.ToString("N")
        </div>
    </div>
</div>

@if (Model.GroupedTransactions.Count() == 0)
{
    <h5>There is no data to show</h5>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var groupedTransaction in Model.GroupedTransactions)
            {
                <tr style="background-color: lightblue; font-size: 26px">
                    <td colspan="3">
                        @groupedTransaction.TransactionDate.Day
                        <span class=" badge bg-secondary">@groupedTransaction.TransactionDate.ToString("ddd")</span>
                    </td>
                    <td class="active-balance">
                        @groupedTransaction.DepositsBalance.ToString("N")
                    </td>
                    <td class="passive-balance">
                        @groupedTransaction.WithdrawalsBalance.ToString("N")
                    </td>
                </tr>
                @foreach (var transaction in groupedTransaction.Transactions)
                {
                    <tr style="vertical-align: middle">
                        <td>
                            <a asp-controller="transactions"
                               asp-action="Edit"
                               asp-route-id="@transaction.Id"
                               asp-route-returningUrl="@ViewBag.returningUrl">
                                <i class="bi-pencil"></i>
                            </a>
                        </td>
                        <td> @transaction.Category</td>
                        <td> @transaction.Account</td>
                        <td class="active-balance">
                            @(transaction.OperationTypeId == OperationType.Income ?
                                            transaction.Amount.ToString("N") : null)
                                                                                </td>
                                                                                <td class="passive-balance">
                            @(transaction.OperationTypeId == OperationType.Expense ?
                                            transaction.Amount.ToString("N") : null)
            </td>
        </tr>
                }
            }
        </tbody>
    </table>
}